body {
  background-color: #EDEAD9;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

form {
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  width: 100%;
  max-width: 350px;
}

header {
  padding: 20px 0;
  text-align: center;
}

header p {
  text-align: center;
  color: #D64226;
  margin: 1em 0;
}
/*-------  Global Classes  -------*/

.hide {
  display: none;
}

/*-------  Log In  -------*/

.namecard,
.card {
  background-color: #f5f3ed;
  max-width: 400px;
  border-radius: 20px;
  text-align: center;
  color: #727c85;
  margin: auto;
}

.namecard-hello {
  border-bottom: solid 2px #edead9;
  padding: 5px 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.namecard-form {
  padding-top: 15px;
}

.namecard-prompt,
.namecard-submit {
  display: block;
}

.namecard-prompt {
  font-size: 1.6rem;
  padding-top: 2.5rem;
}

.namecard-submit {
  background-color: #fff;
  color: #D64226;
  width: 100%;
  padding: .55rem 0;
  border: 2px solid #D64226;
  margin-top: 50px;
}

.namecard-name {
  width: 50%;
  margin-top: 1.5rem;
  border: none;
  border-radius: 5px;
  padding: .4rem .5em;
  text-align: center;
  font-family: sans-serif;
  font-size: 1rem;
  color: #665665;
}

.namecard-exit {
  display: flex;
  align-content: center;
}

.namecard-exit button {
  background-color: #F5F3ED;
  border: none;
}

/*-------  Flash Cards  -------*/

.card-question,
.card-answer {
  padding-bottom: 20px;
  border-bottom: 4px solid rgba(0,0,0,.1);
}

.card-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px 0;
  border-bottom: 3px solid #EDEAD9;
}

.card-header {
  background-image: url(../img/content-header-question.png);
  background-size: contain;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
}

#content {
  padding: 20px;
}

#content h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.card-hint-btn {
  background-color: #EEC900;
  color: #fff;
  padding: 10px 20px;
  font-size: .75em;
  border: none;
  border-radius: 4px;
  letter-spacing: 2px;
  outline: none;
}

.card-hint-btn:hover {
  background-color: #EEB422;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.card-flip-wrap {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
}

.card-flip-wrap a {
  display: block;
  height: 60px;
  width: 60px;
  background: url(../img/flip.svg) no-repeat center;
  background-size: 40%;
}

.card-flip-wrap:hover {
  border: 2px solid #D64226;
}

.card-next img {
  max-width: 30px;
}
